@{
    Layout = "~/Views/Shared/_LayoutLoginAdmin.cshtml";
}
<div class="d-flex justify-content-center">
    <div>
		<h1 class="text-light">Admin Girişi</h1>
    </div>
    <form class="login" method="post">
        <input type="text" placeholder="Username" name="username" placeholder="Kullanıcı Adı" required>
        <input type="password" placeholder="Password" name="password" placeholder="Şifre" required>
        <button type="submit">Giriş Yap</button>
    </form>
</div>

@if (ViewBag.Error != null)
{
    <p style="color:red;">@ViewBag.Error</p>
}
<a href="https://codepen.io/davinci/" target="_blank">check my other pens</a>