@model QuizDto

@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    
}

<form asp-action="CreateQuiz" asp-controller="Teacher" method="post">

    
    <input type="hidden" asp-for="LessonId" />

    
    

    <div class="mb-3">
        <label asp-for="QuizName" class="form-label"></label>
        <select asp-for="QuizName" class="form-control">
			@foreach (var quizNames in ViewBag.QuizNames)
			{
				<option value="@quizNames">@quizNames</option>
			}
        </select>
        <span asp-validation-for="QuizName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="QuizWeight" class="form-label"></label>
        <input asp-for="QuizWeight" class="form-control" />
        <span asp-validation-for="QuizWeight" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Ders</label>
        <input type="text" class="form-control" value="@ViewBag.LessonName?.ToString()" disabled />
    </div>

    <button type="submit" class="btn btn-danger">Kaydet</button>
    <a asp-controller="Teacher" asp-action="QuizList" asp-route-id="@Model.LessonId" class="btn btn-outline-danger">
        İptal
    </a>
</form>
