@model Teacher
@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<h2>Öğretmen Ana Sayfa</h2>

<table class="table">
    <tr>
        <th>Adı</th>
        <td>@Model.TeacherName @Model.TeacherSurname</td>
    </tr>

</table>

