@model CourseListDto
@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Ders Programını Düzenle</h2>


<form asp-action="EditCourseList" method="post">
	<div class="form-group">
		<label asp-for="CourseDay" class="control-label"></label>
		<select asp-for="CourseDay" class="form-control">
			<option value="1">Pazartesi</option>
			<option value="2">Salı</option>
			<option value="3">Çarşamba</option>
			<option value="4">Perşembe</option>
			<option value="5">Cuma</option>
		</select>
		<span asp-validation-for="CourseDay" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="CourseTime" class="control-label"></label>
		<select asp-for="CourseTime" class="form-control">
			<option value="09:10 - 10:00">09:10 - 10:00</option>
			<option value="10:10 - 11:00">10:10 - 11:00</option>
			<option value="11:10 - 12:00">11:10 - 12:00</option>
			<option value="12:10 - 13:00">12:10 - 13:00</option>
			<option value="13:10 - 14:00">13:10 - 14:00</option>
			<option value="14:10 - 15:00">14:10 - 15:00</option>
			<option value="15:10 - 16:00">15:10 - 16:00</option>
			<option value="16:10 - 17:00">16:10 - 17:00</option>
			<option value="17:10 - 18:00">17:10 - 18:00</option>
		</select>
		<span asp-validation-for="CourseTime" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="CourseClass" class="control-label"></label>
		<select asp-for="CourseClass" class="form-control">
			<option value="C053">C053</option>
			<option value="C055">C055</option>
			<option value="C058">C058</option>
			<option value="C059">C059</option>
			<option value="C071">C071</option>
			<option value="C072">C072</option>
			<option value="LAB142">LAB142 (LAB)</option>
			<option value="LAB141">LAB141 (LAB)</option>
			<option value="LAB140">LAB140 (LAB)</option>
			<option value="LAB200">LAB200 (LAB)</option>
		</select>
		<span asp-validation-for="CourseClass" class="text-danger"></span>
	</div>
	

	<!-- Bölüm Seçimi -->
	<div class="form-group">
		<label asp-for="DepartmentId" class="control-label"></label>
		<select asp-for="DepartmentId" class="form-control"
				asp-items="@(new SelectList(ViewBag.Departments ?? new List<Department>(), "Id", "Name"))">
			<option value="">-- Bölüm Seçin --</option>
		</select>
		<span asp-validation-for="DepartmentId" class="text-danger"></span>
	</div>

	<!-- Ders Seçimi -->
	<div class="form-group">
		<label asp-for="LessonId" class="control-label"></label>
		<select asp-for="LessonId" class="form-control"
				asp-items="@(new SelectList(ViewBag.Lessons ?? new List<Lesson>(), "LessonId", "LessonName"))">
			<option value="">-- Ders Seçin --</option>
		</select>
		<span asp-validation-for="LessonId" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-danger">Kaydet</button>
	<a asp-action="CourseList" class="btn btn-outline-danger">İptal</a>
</form>
