@model Student
@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<h2>Öğrenci Ana Sayfa</h2>

<div class="container overflow-hidden text-center">
    <div class="row gx-5 p-3 gap-4">
        <div class="col bg-success">
            <div class="p-3 text-start text-light">Aktif Akademik Dönem Bilgileri <br />2024-2025 Bahar Dönemi</div>
        </div>
        <div class="col bg-secondary">
            <div class="p-3 text-start text-light">Öğrenim Bilgileri <br />@ViewData["DepartmentName"]</div>
        </div>
       
        <div class="col bg-danger">
            <div class="p-3 text-start text-light">Kayit Tarihi <br />@Model.StudentRegisterDate.ToString("dd/mm/yyyy")</div>
        </div>

    </div>
</div>